.bg-top {
    height: 150px;
    background-image: url("../img/bg_top.png");
    background-size: auto;
    background-position:left;
    background-repeat: repeat;
}

.row-height-178 {
    height: 150px;
}

.nav-link {
    /* font-size: 1.1em; */
    /* font-weight: bold; */
}

.carousel-caption {
    color:black;
    text-shadow: 3px 3px 5px #ffffff, -3px -3px 5px #ffffff;
}

.carousel-item{
    /* height: 500px; */
} 
.carousel-item img{
    /* height: 500px; */
    /* object-fit: cover; */
}